/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/* COMMON */
.dashed{
    border: 2px dashed black;
}
.contained{
    width: 80%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    cursor: pointer;
}

.buttonlook{
    border-radius: 25px;
    padding: 12px;
}

.whitetext{
    color: white;
}
.bluetext{
   color: rgb(114 138 218);
}
.bgrey{
    background-color: rgb(246 246 246);
}
.bgwhite{
    background-color: white;
}
.bgblack{
    background-color: black;
}
.bgblue{
    background-color: rgb(114 138 218);
}
.bgdarkblue{
   background-color: rgb(35 39 42);
}

.y-align{
    display: flex;
    align-items: center;
}
.x-align{
    display: flex;
    justify-content: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items:center;
}

h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 20px;
}

p{
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
}

ul{
   list-style-type: none;
}

li{
    margin: 20px 0;
}
/* HEADER */
header{
    height: 70px;
    background-color: rgb(65 94 234);    
}
.navbar{
    height: 100%;
}
.logo , .login{
    width: 25%;
}
.header-links{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.login{
    text-align: right;
}
.login > a {
    font-size: 1.1rem;
}

/* MAIN */

/* LANDING */
.landing{
    background-image: url(../img/jumbo.png);
    background-attachment: fixed;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100%;
    text-align: center;
}

.landing-menu{
    width: 50%;
    padding: 100px;
}
.landing-menu h1 {
    padding: 20px;
}
.landing-menu p {
    font-size: 0.9rem;
}

.download-landing{
    margin: 30px 0;
}
.download-landing a{
    margin:  0 10px;
}

/* PAGES */
.page{
    padding: 50px 0;
}
.infotext{
    width: 40%;
}
.reverse{
    flex-direction: row-reverse;
}

/* COPY */
.copy{
    text-align: center;
}
.subcopy h2{
    padding: 40px;
    display: inline-block;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.download-button{
    padding-bottom: 80px;
    padding-top: 30px;
}
/* FOOTER */

/* FOOTER_1 */
.footer_1{
    border-bottom: 2px solid white;
    padding: 40px;
}

.about{
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
}

.social{
    width: 30%;
    font-size: 1.3rem;
}

.social img{
    width: 10%;
    vertical-align: middle;
}
.social span{
    font-size: 0.8rem;
    vertical-align: middle;
}

.language, .socials-icon{
    padding: 10px 0;
}

.socials-icon a{
    padding-right: 15px;
    color: white;
}
.faq{
    width: 70%;
    display: flex;
}

.faqlinks{
    width: calc(100% / 4);
}

/* FOOTER_2 */
.footer_2{
    display: flex;
    align-items: flex-end;
    padding: 20px;
}
.signup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signupbutton{
    font-size: 0.7rem;
}

/* WAVE */

.wave img{
    
    filter: invert(98%) sepia(0%) saturate(95%) hue-rotate(176deg) brightness(119%) contrast(93%);
    width: 100%;
    margin: -5px;
}

.mirror{
    transform: scaleY(-1);
}
.mirrorhor{
    transform: scaleX(-1);
}